 <div class="container">
        <div style="text-align: center;">
             <h1 class='logo'>Secret</h1>
            Anonymous messanger
        </div>
        <div class="card card-container">
          
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin" type="post">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="email" class="form-control" placeholder="Email address" required autofocus>
                <input type="password" id="password" class="form-control" placeholder="Password" required>
               
                <button id="signin" class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
            </form><!-- /form -->
            <div style="text-align: center; font-size: 13px;">
                
                The data needed to generate RSA keys
                
            </div>
            
        </div><!-- /card-container -->
    </div><!-- /container -->